html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 600px;
    height: 80%;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: violet;
    width: 100%;
    height: 100px;
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 16px;
}

.name {
    margin-right: 16px;
    font-size: 30px;
    color: white;
    font-weight: 400;
    font-family: Arial;
}

.chat {
    background-color: yellow;
    width: 100%;
    height: calc(100% - 200px);
}

.reply {
    background-color: black;
    width: 100%;
    height: 100px;
    border-radius: 0 0 16px 16px;
}

.messages {
    overflow-y: scroll;
    height: 100%;
}

.message {
    background-color: blueviolet;
    color: white;
    padding: 8px;
    width: 60%;
    border-radius: 8px 8px 0 8px;
    margin: 8px 8px 8px auto;
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

.answer {
    background-color: yellowgreen;
    border-radius: 8px 8px 8px 0;
    margin: 8px auto 8px 8px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input-text {
    font-size: 26px;
    margin-right: 16px;
}

.button-submit {
    font-size: 26px;
}

#smile-button::after {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 8px;
    cursor: pointer;
    content: "😃";
}

#smile-button:hover::after {
    content: "😫";
}

#smiles {
    background-color: white;
    position: absolute;
    bottom: 70px;
    left: 47px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    border-radius: 8px;
}

.smile {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.smile:hover {
    background-color: rgb(92, 149, 224);
}